.container5{
    justify-content: right;
    flex-wrap: wrap;
    align-content: center;
    border: 1px solid green;
}
.container5 .item1{
    flex-grow: 2;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
}
.container5 .item2{
    flex-grow: 0;
    border: 1px solid green;
    background-color: rgba(0, 0, 0, 0.24);
    border-radius: 7px;
}

.flexItem{
    padding: 10px;
    background-color: #68cf79;
    color: white;
}
.flexContainer{
    display: flex;
    background-color: #68cf79;
    padding: 5px;
    
}

#labelTemporizador{
    margin-bottom: -10px;
}

#temporizador{
    margin: 2px;
}

