body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
	padding: 0;
}

.main-registro {
	display: flex;
	flex-direction: column;
}

.registro-titulo {
	color: #68CF79;
	font-size: 75px;
	margin: 70px auto 50px auto;
	text-decoration: none;
	text-shadow: 1px 2px 3px #C4C4C4;
	font-family: "Poppins", sans-serif;

}

#formulario{
	display: flex;
	flex-direction: column;
	margin: 10px auto 10px auto;
}

.seccion-input {
	display: flex;
	flex-direction: column;
	width: 400px;
	margin-bottom: 40px;
}

.seccion-input input{
	border: none;
	border-bottom: 1.5px solid #AEAEAE;
	padding: 4px;
	padding-left: 30px;
	font-size: 16px;
	height: 20px;
    background-position: 5px 50%;
    background-size: 15px 15px;
    background-repeat: no-repeat;
}
.seccion-input.ultimo-input  input {
	padding-right: 30px;
}

.ultimo-input{
	margin-bottom: 15px;
}


.seccion-input input:focus{
	outline: none;
	border-bottom: 1.5px solid #68CF79;
}

.seccion-input input:focus::placeholder{
	color: transparent;

}
.input-nombre{
	background-image: url("../img/img-user.svg");
}
.input-nombre:focus{
	background-image: url("../img/img-user-focus.svg");
}

.input-correo{
	background-image: url("../img/img-correo.svg");
}
.input-correo:focus{
	background-image: url("../img/img-correo-focus.svg");
}

.input-contrasena{
	background-image: url("../img/img-contrasena.svg");
}
.input-contrasena:focus{
	background-image: url("../img/img-contrasena-focus.svg");
}

.mensaje-error{
	font-size: 12px;
	color: #d31b1b;
	/*color: lightslategrey;*/
	margin: 5px auto 5px 5px;
	height: 11px;
}

.boton-registrarse{
	color: white;
	border: none;
	font-size: 18px;
	background: #68CF79;
	border-radius: 5px;
	padding: 5px 15px;
	margin: 5px auto;
	box-shadow: 2px 3px 3px #AEAEAE;
	align-items: center;
     justify-content: center;
     cursor: pointer;
}
.boton-registrarse:hover{
	background: rgb(101, 193, 114);
}

.pregunta{
	margin: 25px auto;
	color: #202020;
}
.pregunta a{
	text-decoration: none;
	color: #23BA71;
}

.boton-ojo{
	position: relative;
	top: -45px;
	left: 374px;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	cursor: pointer;
	background-color: transparent;
}

.mostrar-contrasena{
	background-image: url("../img/img-mostar-contrasena.svg");
}
.ocultar-contrasena{
	background-image: url("../img/img-ocultar-contrasena.svg");
}

/*Responsive*/

@media screen and (max-height: 650px) and (max-width: 400px){
	.main-registro{
		margin-top: 20%;
	}
	.registro-titulo {
		font-size: 55px;
		margin: 20px auto 40px auto;
	}
	.seccion-input {
		width: 300px;
		margin-bottom: 18px;
	}
	.boton-ojo{
		left: 250px;
		width: 22px;
		height: 22px;
	}
}

@media screen and (min-height: 720px) and (max-width: 450px){
	.main-registro{
		margin-top: 25%;
	}
	.registro-titulo {
		font-size: 55px;
		margin: 20px auto 70px auto;
	}
	.seccion-input {
		width: 350px;
		margin-bottom: 25px;
	}
	.boton-ojo{
		left: 320px;
		width: 22px;
		height: 22px;
	}
}

@media screen and (min-height: 800px) and (max-width: 450px){
	.main-registro{
		margin-top: 30%;
	}
	.registro-titulo {
		font-size: 55px;
		margin: 20px auto 70px auto;
	}
	.seccion-input {
		width: 350px;
		margin-bottom: 25px;
	}
	.boton-ojo{
		left: 320px;
		width: 22px;
		height: 22px;
	}
}



@media screen and (min-height: 650px) and (max-width: 400px){
	.main-registro{
		margin-top: 20%;
	}
	.registro-titulo {
		font-size: 55px;
		margin: 20px auto 70px auto;
	}
	.seccion-input {
		width: 340px;
		margin-bottom: 25px;
	}
	.boton-ojo{
		left: 310px;
		width: 22px;
		height: 22px;
	}
}


@media screen and (max-height: 700px) and (max-width: 300px){
	.main-registro{
		margin-top: 20%;
	}
	.registro-titulo {
		font-size: 40px;
		margin: 20px auto 70px auto;
	}
	.seccion-input {
		width: 270px;
		margin-bottom: 25px;
	}
	.boton-ojo{
		left: 240px;
		width: 22px;
		height: 22px;
	}
	.pregunta a{
		display: block;
		text-align: center;
	}
}

@media screen and (max-height: 500px) and (max-width: 1300px){
	.main-registro{
		margin-top: 0%;
	}
	.registro-titulo {
		font-size: 60px;
		margin: 20px auto 10px auto;
	}
	.seccion-input {
		margin-bottom: 15px;
	}
	.boton-ojo{
		left: 370px;
		width: 22px;
		height: 22px;
	}
	.seccion-input.ultimo-input{
		margin-bottom: 0px;
	}
}
