/*  */
:root{
    --color-verde:#5FCF80;
}
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    margin: 0;
    
  }
.formulario-nivel{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    text-align: center;
    margin: 60px 0px;
    
}
input{
    width: 35%;
    border: 0;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}
.desplegable-q{
    width: 90%;
    border: 1px solid;
    padding: 10px;
    margin: 10px;
   
}
.nombre-nivel{
    background-color: var(--color-verde);
    width: 100%;
    padding: 18px;
}
.desplegable{
    background-color: #fff;
    width: 40%;
    margin: 0 30%;
    justify-content: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    
    padding: 10px;
}
.btn-guardar{
   
    background-color: #fff;
    border-radius: 5px;
    background-color: #7da6e2;
    padding: 4px;

}

/* Lista  */
#lista-de-temas{
    display: flex;
    display: -ms-flex;
	display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center;
   
    
}
#lista-de-temas > div{
  /* width: 50%; */
  width: 350px;
  margin: 55px;
  
  border: 1px solid ;

}
/* Boton especial grande */
.btn-especial{
    width: 350px;
    height: 190px;
    border: 0;
    background-color: var(--color-verde);
}
/* @media (max-width:700px){
    #lista-de-temas{
        flex-direction: column;
    }
} */



/* Tarejta  */
.div-tarjeta{
    /* margin: 0px; */
    /* width: 300px; */
    
}
.tarjeta{
    background-color:#fff;
    /* border: 0px solid #000; */
    border-radius: 5px;
    /* box-shadow: 4px 4px 15px rgba(0,0,0,0.1); */
   
}
.numerotema{
    background-color: var(--color-verde);
    /* border-top: 1px solid #000; */
    border-bottom : 1px solid ;
   text-align: center;
   color: white;
   font-size: 20px;
   padding: 10px;

}
.titulotema{
    
    margin: 20px;
    font-size: 20px;
    text-align: center;
   
    
}
.botones{
    text-align: center;
   
    padding: 10px;
}
.btn{
    
    border-radius: 5px;
    width: 90px;
    padding: 10px;
    background-color: var(--color-verde);
    border: 0;
}
/* #btn-eliminar,#btn-editar{
   background-color: #ffff;
   padding: 10px;
   margin: 10px;
   float: right;
  
} */
#btn-eliminar{
   padding: 10px;
   margin: 10px;
   width: 25%;
   float: right;
   background-color: #fff;
}
#btn-editar{
    background-color: #e5aa74;
    width: 55%;
    margin: 10px;
    float: left;
}
/* ventana emergente */
.ventana-emergente{
  width: 50%;
  font-size: 15px;
  text-align: center;
  height: 80%;   
  
}
.contenido-alerta-crear-nivel{
    font-size: 16px !important;
    padding: 0 20px;
    border: 1px solid #5FCF80;
}
.recomendaciones{
    background-color: #e5aa74;
    width: 20%;
    border-radius: 7px;
    padding: 10px;
    color: #fff;
    float: left;
    font-size: 16px;
    margin: 10px;
}
.titulolista{
    float: center;
    text-align: center;
    color: #5FCF80;
    padding: 15px;
  
    /* border: 1px solid #5FCF80; */

}
.recomen{
    font-size:19px
}
@media only screen and (max-width: 600px){
    .tarjeta{
        width: 100%;
    }
    .btn-especial{
        width: 100%;
    }
    input{
        width: 80%;
    }
    .desplegable{
        width: 80%;
        margin: auto;
    }
    .recomendaciones{
        width: 100%;
      
    }
}
@media only screen and (max-width: 1000px){
    .recomendaciones{
        font-size: 14px;
    }
    .recomen{
        font-size: 14px;
    }
    input{
        width: 80%;
    }
    .desplegable{
        width: 80%;
        margin: auto;
    }
}
/* Recomendaciones */
